$backgroundColor: rgb(61, 61, 61); 
$myColor: rgb(221, 221, 221);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

background-color: $backgroundColor ;
}


h1, p{
  color: $myColor;
  text-align: center;
  color: $backgroundColor;

  font-size: 10vw;
  font-weight: 800;

  color: $backgroundColor; 
  -webkit-text-stroke: 2px $myColor;
}

p {
  font-size: 8vw;
  margin: 1rem;
}

.uh {
  text-align: center;
  font-size: 7vw;
  font-weight: 800;
  color: $myColor;
  margin: 3rem;
}

.center {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
}

.button-1, .button-2 {
  background-color: #3393b1; /* Green */
  border: none;
  color: $backgroundColor;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 900;
  cursor: pointer;
}

.button-1 {
  margin: 1rem;
}

.button-2 {
  margin: 1rem;
}